<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nosotros</title>
</head>
<body>
  <h1>Acerca de nosotros</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quidem veniam amet architecto voluptatibus labore expedita modi alias iste nihil, mollitia, exercitationem dolor sit. Quisquam eos voluptatibus quas sequi at!</p>
  <ul>
    <li>x</li>
    <li></li>
    <li>x</li>
    <li>x</li>
  </ul>
</body>
</html>
